@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('..fonts/Roboto-Medium.woff') format('woff'), url('..fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --hauptfarbe: #13885c;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#wrapper {
    max-width: 1000px;
    margin: auto;
    border: 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

img[alt="Hulk"] {
    position: absolute;
    right: 0px;
    top: -10px;
    width: 180px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--hauptfarbe);
    padding: 20px 0;
    background-image: url("../img/credible_hulk_comment_your_code.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

header>p {
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
    margin: 5px;
}

header>p:nth-child(1) {
    margin-left: 240px;
}

header>p:nth-child(2) {
    font-size: 40px;
    margin-left: 270px;
}

header>p:nth-child(2)>span {
    color: black;
}

header>p:nth-child(3) {
    margin-left: 320px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

main>figure>img[src="img/programmierer.jpg"] {
    max-width: 100%;
}

main h2 {
    color: var(--hauptfarbe);
}

footer {
    background-color: var(--hauptfarbe);
    padding: 20px;
    text-align: center;
    color: white;
}